{
	"extends": ["jquery", "gulp"],
	"rules": {
		"quotes": ["error", "single"],
		"space-in-parens": ["error", "never"],
		"space-after-keywords": "off",
		"keyword-spacing": ["error", {
			"before": true,
			"after": true
		}],
		"eqeqeq": "off",
		"max-statements": "off",
		"indent": ["error", "tab"],
		"comma-dangle": ["error", "never"],
		"no-undef": "off",
		"no-console": "off"
	},
	"globals": {
		"jQuery": true
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	}
}
